#!/usr/bin/make -f
# -*- makefile -*-
#
# Expected debian/rules file that is used by the dpkg build procedure
#
#   $ git clone <nfs-ganesha>
#   $ cd nfs-ganesha/src
#   $ dpkg-buildpackage -uc -us
#
export PREFIX=/usr
export DESTDIR=$(CURDIR)/debian/tmp

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

%:
	 dh $@ --with python2 --sourcedirectory=src --builddirectory=build --parallel

override_dh_auto_configure:
	 mkdir build && cd build && cmake ../src \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DLIB_INSTALL_DIR:PATH="$(PREFIX)/lib/$(DEB_HOST_MULTIARCH)" \
		-DUSE_FSAL_NULL=ON \
		-DUSE_FSAL_MEM=ON \
		-DUSE_FSAL_ZFS=OFF \
		-DUSE_FSAL_XFS=ON \
		-DUSE_FSAL_VFS=ON \
		-DUSE_FSAL_CEPH=ON \
		-DUSE_FSAL_RGW=ON \
		-DUSE_FSAL_GPFS=ON \
		-DUSE_FSAL_GLUSTER=OFF \
		-DUSE_SYSTEM_NTIRPC=OFF \
		-DUSE_9P_RDMA=OFF \
		-DUSE_LTTNG=OFF \
		-DUSE_ADMIN_TOOLS=ON \
		-DUSE_GUI_ADMIN_TOOLS=OFF \
		-DUSE_FSAL_PROXY=ON \
		-DUSE_DBUS=ON \
		-DUSE_9P=ON \
		-DDISTNAME_HAS_GIT_DATA=OFF

#override_dh_auto_build:
#	cd src && dh_auto_build

override_dh_auto_test:

override_dh_clean:
	dh_clean
	rm -f src/nfs-ganesha.spec src/scripts/systemd/nfs-ganesha-config.service

override_dh_install:
	mkdir -p debian/tmp/etc/ganesha/
	mkdir -p debian/tmp/etc/dbus-1/system.d/
	mkdir -p debian/tmp/etc/sysconfig
	mkdir -p debian/tmp/etc/logrotate.d/
	mkdir -p debian/tmp/lib/systemd/system
	mkdir -p debian/tmp/var/run/ganesha
	mkdir -p debian/tmp/etc/defaults
	cp src/config_samples/logrotate_ganesha debian/tmp/etc/logrotate.d/ganesha
	cp src/scripts/ganeshactl/org.ganesha.nfsd.conf debian/tmp/etc/dbus-1/system.d/
	cp src/config_samples/vfs.conf debian/tmp/etc/ganesha/ganesha.conf
	cp src/config_samples/ceph.conf debian/tmp/etc/ganesha/ceph.conf
	cp src/config_samples/rgw.conf debian/tmp/etc/ganesha/rgw.conf
	cp src/config_samples/rgw_bucket.conf debian/tmp/etc/ganesha/rgw_bucket.conf
	cp src/config_samples/vfs.conf debian/tmp/etc/ganesha/vfs.conf
	cp src/config_samples/xfs.conf debian/tmp/etc/ganesha/xfs.conf
	cp src/config_samples/mem.conf debian/tmp/etc/ganesha/mem.conf
	cp src/config_samples/gpfs.conf debian/tmp/etc/ganesha/gpfs.conf
	cp src/config_samples/gpfs.ganesha.exports.conf debian/tmp/etc/ganesha/gpfs.ganesha.exports.conf
	cp src/config_samples/gpfs.ganesha.log.conf debian/tmp/etc/ganesha/gpfs.ganesha.log.conf
	cp src/config_samples/gpfs.ganesha.main.conf debian/tmp/etc/ganesha/gpfs.ganesha.main.conf
	cp src/config_samples/gpfs.ganesha.nfsd.conf debian/tmp/etc/ganesha/gpfs.ganesha.nfsd.conf
	cp src/scripts/systemd/nfs-ganesha* debian/tmp/lib/systemd/system/
	cp src/scripts/systemd/sysconfig/nfs-ganesha debian/tmp/etc/defaults/
	cp src/scripts/nfs-ganesha-config.sh debian/tmp/usr/lib/
	make -C build install && dh_install --sourcedir=./src
